body {
  background: black;
  color: white;
  text-align: center;
  padding: 100px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  margin-right: 15px;
  font-size: 20px;
  width: 15rem;
  cursor: pointer;
}
